@page "/"

<AuthorizeView>
    <Authorized><div>Authenticated-Welcome to your new app</div></Authorized>
    <Authorizing><div>Loading...</div></Authorizing>
    <NotAuthorized><div>Not authenticated-Welcome to your new app</div></NotAuthorized>
</AuthorizeView>

<h1>Hello, world!</h1>


